---
import Social from './social.astro';
const { platform, username } = Astro.props;

---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="Instagram" username="JYBanimations" />
  <Social platform="github" username="JYBanimations" />
  <Social platform="youtube" username="/channel/UCcFaNnh9sI_9j3ecC52Ib6w" />
</footer>
