---
import logo from '../assets/logo_circle.png';
---

<a href="https://www.youtube.com/@jybanimations" target="_blank">
  <img 
    src={logo.src}
    alt="YouTube Logo" 
    class="logo"
  />
</a>

<style>
  .logo {
    width: 60px;       /* Adjust size */
    height: auto;
    cursor: pointer;
    border-radius: 12px;  /* Optional */
    margin-top: 9px;
  }
</style>